# --- Core Laravel ---
/vendor/
node_modules/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea/*
/.vscode/*

# --- Storage Folder Management ---
# We ignore the files inside, but NOT the folders themselves
#/storage/app/public/
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/debugbar/

# Do not ignore .gitkeep files so empty folders stay in GitHub
!storage/app/public/.gitkeep
!storage/framework/cache/.gitkeep
!storage/framework/cache/data/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
!storage/logs/.gitkeep

# --- Public Assets ---
# Ignore the symlink created by storage:link, but keep actual assets
/public/storage
/public/hot

# --- Database & Keys ---
*.key
/storage/installed
/storage/*.key

# --- OS Specific ---
.DS_Store
Thumbs.db